.DS_Store
20250218 GWA Reviewer AI/yolov8n.pt
20250218 GWA Reviewer AI/OUTPUT/Report_20250218_C.pdf
20250218 GWA Reviewer AI/OUTPUT/Report_20250218_I.pdf
20250218 GWA Reviewer AI/source/ims_C/1.png
20250218 GWA Reviewer AI/source/ims_C/1.txt
20250218 GWA Reviewer AI/source/ims_C/2.png
20250218 GWA Reviewer AI/source/ims_C/2.txt
20250218 GWA Reviewer AI/source/ims_I/1.png
20250218 GWA Reviewer AI/source/ims_I/1.txt
20250218 GWA Reviewer AI/source/ims_I/2.png
20250218 GWA Reviewer AI/source/ims_I/2.txt
20250218 GWA Reviewer AI/source/report_C/aggregated summary.txt
20250218 GWA Reviewer AI/source/report_C/executive summary.txt
20250218 GWA Reviewer AI/source/report_C/report conclusion.txt
20250218 GWA Reviewer AI/source/report_C/report insights.txt
20250218 GWA Reviewer AI/source/report_C/report preamble.txt
20250218 GWA Reviewer AI/source/report_cover/20250217 GWA Reviewer Report Cover.pdf
20250218 GWA Reviewer AI/source/report_cover/20250217 GWA Reviewer Report Cover.png
20250218 GWA Reviewer AI/source/report_I/aggregated summary.txt
20250218 GWA Reviewer AI/source/report_I/executive summary.txt
20250218 GWA Reviewer AI/source/report_I/report conclusion.txt
20250218 GWA Reviewer AI/source/report_I/report insights.txt
20250218 GWA Reviewer AI/source/report_I/report preamble.txt
20250218 GWA Reviewer AI/OUTPUT/Report_20250219_C.pdf
20250218 GWA Reviewer AI/OUTPUT/Report_20250219_I.pdf
